.header {
  position: fixed;
  top: 0;
  left: 0;
    width: 100vw;
  display: flex;
  margin: 0;
  padding: 5px;
  text-align: center;
  /* background: #1abc9c; */
  color: white;
  font-size: 15px;
  height: 10%;
}